body {
    text-align: center;
}

.content {
    margin: auto;
    max-width: 500px;
}

.content__text {
    display: inline-block;
}


.red {
    color: red;
}

.content button {
    display: block;
    width: 100%;
    margin: 10px;
    padding: 10px 0;
}

.music {
    max-width: 600px;
    margin: 50px auto 0 auto;
}

.music__buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;

}

.music button {
    padding: 5px;
    display: inline-block;
}



